p{
  text-align: center;
  color: white;
}

h1{
  text-align: center;
  color: white;
  font-size: 2em;
  text-align-last: center;
  position: static;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

caption{
  color: white;
  text-align: left;
}

.button {
  font-size: 2.0em;
  border-radius: 0.3em;
  border-color: black;
  border-style: groove;
  margin: auto;
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(256, 256, 256, 0.3);
    color: black;
}

.button1:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.button2 {
  background-color: rgba(256, 256, 256, 0.5);
    color: black;
}

.button2:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.g-signin2{
  width: 100%;
}
.g-signin2 > div{
  margin: 0 auto;
}

#logoutButton{
  position:fixed;
  right:0.5em;
  top:0.5em;
}

#user{
  text-align: center;
}

#shares{
  color: white;
  text-align: center;
}

#dropbox{
  background-color:white;
  color:black;
  height:15em;
  vertical-align: middle;
  width:30em;
  margin: auto;
  background-color: rgba(256, 256, 256, 0.3);
  border-radius: 0.3em;
  border-color: black;
  border-style: groove;

}
#inpGetShares
{
  background-color: rgba(256, 256, 256, 0.7);
  justify-content: center;
  border-radius: 0.3em;
  border-color: black;
  border-style: groove;
  width: 20em;
}
#uploadButton
{
  display: flex;
  align-content: center;
}
#text{
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  color: black;
}

#deleteButton {
  border-radius: 0.3em;
  border-color: black;
  border-style: groove;
  background-color: rgba(256, 256, 256, 0.3);
  cursor: pointer;
}

table
{
  width: 100%;
}
td{
  overflow: hidden;
  text-align: center;
}

.FileTables{
  border-radius: 0.3em;
  border-color: black;
  border-style: groove;
  background-color: rgba(256, 256, 256, 0.3);

}

.FileTables th:nth-child(1){
  width: 40%;
}
.FileTables th:nth-child(2){
  width: 20%;
}
.FileTables th:nth-child(3){
  width: 40%;
}
