
header{
  background-color: green;
}

table
{
  border-collapse: collapse;
  width: 100%;
}
td{
  overflow: hidden;
  text-align: center;
}
th{
  border-bottom: 1px solid #aaa;
}
caption{
  text-align: left;
}

.FileTables{
  background-color: yellow;
  border-style: none;

}

.FileTables th:nth-child(1){
  width: 40%;
}
.FileTables th:nth-child(2){
  width: 20%;
}
.FileTables th:nth-child(3){
  width: 40%;
}
