p {
  text-align: center;
  color:WHITE;
  font-size: 70px;

}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: WHITE;
}

body{
  background-color: green;
}
.headline{
  text-align: center;
}
.item{
  text-align: center;
  justify-content: flex-end;
  align-self: center;
}
.container{
  justify-content: flex-end;
  flex-direction: column;
  display: flex;

}
button{
color: black;
font-weight: bold;
font-size: 250%;

font-weight: bold;
background-color: white;
border: none;
border-radius: 10px;
}
